$button-color--text: $color--light;
$button-color--bg: $color--orange;
$button-color--border: #c0c0c0;
$button-border-radius: 13px;

.nly-button {
    @extend %not-a-button;
    background-color: $button-color--text;
    border-radius: $button-border-radius;
    color: $button-color--bg;
    display: block;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1;
    padding: 47px 0 33px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none !important;
    width: 100%;

    &:before {
        background-color: $button-color--border;
        border-radius: $button-border-radius;
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 8px;
        width: 100%;
        z-index: -1;
    }

    &:active {
        top: 8px;

        &:before {
            top: 0;
        }
    }
}
