$button-color--text: $color--light;
$button-color--bg: $color--orange;
$button-color--border: #c0c0c0;
$button-border-radius: 0.52em;

.nly-button {
    @extend %not-a-button;
    background-color: $button-color--text;
    border-radius: $button-border-radius;
    color: $button-color--bg;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1.2;
    padding: 1.5em 1.5em 1em;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none !important;

    @include mobile() {
        font-size: 10px;
    }

    &:before {
        background-color: $button-color--border;
        border-radius: $button-border-radius;
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 4px;
        width: 100%;
        z-index: -1;

        @include mobile() {
            top: 2px;
        }
    }

    &:active {
        top: 2px;

        @include mobile() {
            top: 1px;
        }

        &:before {
            top: 2px;
        }
    }
}
