.nly-credits {
    box-sizing: border-box;
    //padding: 0 10px;
    text-align: center;
    width: 100%;

    > p {
        font-size: 12px;
        line-height: 1.3;
        margin-bottom: 0.1em;

        @include desktop () {
            letter-spacing: 0.5px;
        }
    }

    a {
        color: inherit;
        text-decoration: none;
        transition: color $transition-speed;

        .no-touch &:hover {
            color: #fff;
            border-bottom: 1px solid;
        }
    }

    button {
        @extend %not-a-button;

        &:hover {
            border-bottom: 1px solid;
        }
    }
}
