$color--black: #000;
$color--gray: #999;
$color--light-gray: #e1e1e1;
$color--orange: #f9651b;

$base-font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, sans-serif;

@mixin ellipsis() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
