$color--black: #000;
$color--light: #fff;
$color--gray: #999;
$color--light-gray: #e1e1e1;
$color--orange: #f9651b;

$base-font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, sans-serif;

$transition-speed: 300ms;

@mixin mobile() {
    @media (max-width: 600px) {
        @content;
    }
}

@mixin tablet() {
    @media (max-width: 900px) {
        @content;
    }
}


@mixin desktop() {
    @media (min-width: 901px) {
        @content;
    }
}

@mixin ellipsis() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

//*
// Disables text selection and the on iOS devices that displays information about a link.
@mixin disable-selection() {
  user-select: none; //disables text selection
  -webkit-touch-callout: none; //disables callout on iOS devices that displays information about the link
}


%fullscreen {
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

%not-a-button {
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    font: {
        size: inherit;
        family: inherit;
    }
    -webkit-font-smoothing: inherit;
    margin: 0;
    outline: none;
    padding: 0;
}

%not-a-input {
    background-color: transparent;
    border: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    outline: none;
    padding: 0;
}
