.nly-info {
    box-sizing: border-box;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    transition: opacity 250ms;
    width: 100%;
    z-index: 4;

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
    }
}

.nly-info__container {
    align-items: center;
    background-color: rgba(#000, 0.9);
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;

    @include desktop () {
        justify-content: space-around;
    }

    @include mobile () {
        padding: 15px;
        width: auto;
    }
}

    .nly-info__main {
        // margin-top: 55px;
        margin: -48px 10px 0;
        max-width: 800px;
        text-align: center;
        width: 66%;

        @include mobile () {
            margin-top: -100px;
            width: auto;
        }

        > p {
            color: #fff;
            font-size: 23px;
            line-height: 1.6;

            @include mobile () {
                font-size: 16px;
            }
        }
    }

        .nly-info__icon {
            margin: 0 auto;
            width: 82px;

            @include mobile() {
                width: 70px;
            }
        }

    .nly-info__sub {
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }

        .nly-info__social {
            margin-bottom: 10px;
            text-align: center;

            > a {
                color: #8c8c8c;
                display: inline-block;
                width: 50px;
                height: 50px;
                outline: none;
                margin: 0 2.5px;

                .no-touch &:hover {
                    color: #fff;
                }
            }

            svg {
                display: inline-block;

                @include mobile() {
                    margin: 0 5px;
                }
            }
        }

        .nly-info__credits {
            color: rgba(#fff, 0.5);
        }

    .nly-info__close {
        color: #fff;
        height: 30px;
        position: absolute;
        right: 18px;
        top: 24px;
        width: 30px;
        transition: opacity $transition-speed;

        .no-touch &:hover {
            opacity: 0.5;
        }

        @include tablet () {
            height: 20px;
            right: 16px;
            top: 16px;
            width: 20px;
        }
    }

