$loading-bauble-size: 28px;

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    16.5% {
        transform: translateY($loading-bauble-size * -1);
    }
    33% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

@mixin loading-bauble() {
    animation: bounce 1s infinite;
    background-color: $color--orange;
    border-radius: 50%;
    height: $loading-bauble-size;
    width: $loading-bauble-size;
}

.nly-loading-container {
    padding: $loading-bauble-size 0;
    text-align: center;
}

.nly-loading-icon {
    @include loading-bauble();
    display: inline-block;
    position: relative;

    &--1 {

    }

    &--2 {
        animation-delay: 0.3s;

    }

    &--3 {
        animation-delay: 0.6s;

    }


}
