.nly-splash {
    @extend %fullscreen;
    left: 0;
    position: fixed;
    top: 0;
}

    .nly-splash__bg {
        @extend %fullscreen;
        background-size: cover;
    }

    .nly-splash__content {
        @include translateY(-50%);
        left: 0;
        position: absolute;
        text-align: center;
        top: 50%;
        width: 100%;
    }

        .nly-splash__icon {
            margin: 0 auto 25px;
            width: 80px;

            @include mobile() {
                margin-bottom: 12px;
                width: 40px;
            }
        }

        .nly-splash__headline {
            color: $color--light;
            font-size: 25px;
            margin-bottom: 25px;

            @include mobile() {
                font-size: 11px;
            }
        }

        .nly-splash__button {
            margin: 0 auto;
            max-width: 236px;
        }
