@import "_reset.scss";
@import "_fonts.scss";
@import "_global.scss";

@import "compass";

@import "_buttons.scss";
@import "_search.scss";
@import "_media.scss";
@import "_media-overlay.scss";
@import "_splash.scss";
@import "_loading.scss";
@import "_info.scss";
@import "_header.scss";
@import "_error.scss";
@import "_credits.scss";
@import "_icon.scss";

body {
    @include disable-selection();
    -webkit-font-smoothing: antialiased;
    font-family: $base-font-family;
    padding-top: 79px;

    @include tablet () {
        padding-top: 50px;
    }
}

img, svg {
    display: block;
    max-width: 100%;
}

svg {
    height: 100%;
    width: 100%;

    g {
        fill: currentColor;
        transition: fill $transition-speed;
    }
}

[ng-click] {
    cursor: pointer;
}
