@import "_reset.scss";
@import "_global.scss";

@import "_search.scss";
@import "_media.scss";

img {
    max-width: 100%;
}

.logo {
    background-image: image-url('NLY.png');
    background-size: contain;
    direction: rtl;
    display: inline-block;
    height: 90px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 98px;
}

header {
    background-color: $color--almost-black;
    color: #fff;
    padding: 68px 0;
    text-align: center;

    > .tagline {
        font: {
            family: $base-font-family;
            size: 25px;
        };
        margin-top: 15px;
    }
}

.main {
    font: {
        size: $base-font-size;
        family: $base-font-family;
    };
    padding: 45px;
}

    .main-container {
        max-width: 1300px;
        margin: 0 auto;
    }
