<div class="nly-loading-container" ng-class="{'is-visible': busy === true && complete === false}">
    <div class="nly-loading" ng-class="{'is-visible': size > 0}">
        <div class="nly-loading-icon nly-loading-icon--1"></div>
        <div class="nly-loading-icon nly-loading-icon--2"></div>
        <div class="nly-loading-icon nly-loading-icon--3"></div>
    </div>
    <div class="nly-loading--first-run" ng-class="{'is-visible': size === 0}">
        <div class="nly-icon nly-icon--loading">
            <div class="nly-icon__image"><img src="assets/nly.png" alt="No likes yet."></div>
            <div class="nly-icon__shadow"></div>
        </div>
    </div>
</div>
