<div class="media">
    <div class="media__content">
        <img ng-src="{{data.images.standard_resolution.url}}" alt="">
        <div class="media__overlay media-overlay">
            <div class="media-overlay__bg"></div>
            <div class="media-overlay__cta media-cta" ng-switch on="type">
                <div ng-switch-when="self" class="media-cta__container media-cta__container--self">
                    <p class="media-cta__copy media-cta__copy--self">Thought we would let you like your own?</p>
                    <div class="media-cta__share media-share">
                        <div class="media-share__copy">Share for help</div>
                        <div class="media-share__ctas media-ctas">
                            <div class="media-ctas__item">
                                <a fb-share href="https://www.facebook.com/dialog/share?app_id=675619645861071&amp;display=page&amp;href=http%3A%2F%2Fwww.nolikesyet.com%2F%23%2Fmedia%2F%3Ftype%3Dsearch%26user%3D{{data.user.username}}&amp;redirect_uri=http%3A%2F%2Fwww.nolikesyet.com%2F%23%2Fmedia%2F%3Ftype%3Dself">
                                    <svg-facebook></svg-facebook>
                                </a>
                            </div>
                            <div class="media-ctas__item">
                                <a tw-share ng-href="https://twitter.com/share?url=http%3A%2F%2Fwww.nolikesyet.com%2F%23%2Fmedia%2F%3Ftype%3Dsearch%26user%3D{{data.user.username}}&amp;text=Show some love to my Instagram photos that have never been liked – " target="_blank">
                                    <svg-twitter></svg-twitter>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-switch-default class="media-cta__container media-cta__container--other">
                    <p class="media-cta__copy media-cta__copy--unliked" ng-bind-html="cta"></p>
                    <p class="media-cta__copy media-cta__copy--liked">Liked!</p>
                    <div class="media-cta__icon">
                        <svg-heart></svg-heart>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="media__meta-data">
        <div class="media__user"><a ng-href="{{'http://www.instagram.com/'+data.user.username}}" target="_blank">{{data.user.username}}</a></div>
        <div class="media__permalink media-permalink">
            <a ng-href="{{data.link}}" target="_blank">
                <span class="media-permalink__timestamp"><moment-from time="data.created_time"></moment-from></span>
                <span class="media-permalink__cta">
                        View on Instagram
                </span>
            </a>
        </div>
    </div>
</div>
