<header class="nly-header">
    <h1 class="nly-logo">No Likes Yet.</h1>
    <ul class="nly-main-nav">
        <li ng-class="{'is-selected':type === 'world'}" ng-click="changeType('world')">The World</li>
        <li ng-class="{'is-selected':type === 'self'}" ng-click="changeType('self')">My Photos</li>
        <li ng-class="{'is-selected':type === 'friends'}" ng-click="changeType('friends')">My Friends Photos</li>
    </ul>
    <div class="nly-about-icon" ng-click="toggleInfo();">?</div>
</header>
<div class="nly-main" infinite-scroll="getMedia()" infinite-scroll-distance="1" infinite-scroll-disabled="busy">
    <div class="media-container" ng-show="type === 'friends'">
        <media ng-repeat="item in view.friends track by item.id" data="item" type="{{type}}"></media>
    </div>
    <div class="media-container" ng-show="type === 'self'">
        <media ng-repeat="item in view.self track by item.id" data="item" type="{{type}}"></media>
    </div>
    <div class="media-container" ng-show="type === 'world'">
        <media ng-repeat="item in view.world track by item.id" data="item" type="{{type}}"></media>
    </div>
    <div class="nly-info" ng-class="{'is-hidden':!showInfo}">
        <div class="nly-info__container">
            <div class="nly-info__main">
                <div class="nly-info__icon"><img src="assets/nly.png" alt="No Likes Yet"></div>
                <p>Is that floating icon freaking you out? Well, that’s extactly why we made this website. Find all the photos of yourself, your friends and the world that have no likes yet, and decide if they deserve to remain that way.</p>
            </div>
            <div class="nly-info__sub">
                <div class="nly-info__social">
                    <a href="#"><img src="assets/social-facebook.png" alt=""></a>
                    <a href="#"><img src="assets/social-twitter.png" alt=""></a>
                </div>
                <div class="nly-info__byline">
                    <p>A project by <a href="#">@danielsumarna</a>, <a href="#">@talmidy</a> and <a href="#">@timhettler</a>.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="nly-loading-container" ng-show="busy">
        <div class="nly-loading-icon nly-loading-icon--1"></div>
        <div class="nly-loading-icon nly-loading-icon--2"></div>
        <div class="nly-loading-icon nly-loading-icon--3"></div>
    </div>
</div>
