<div class="nly-splash">
    <random-bg class="nly-splash__bg" path="assets/bg/NLY_bg_%_web.jpg" total="5" token="%"></random-bg>
    <div class="nly-splash__content">
        <div class="nly-splash__icon"><img src="assets/nly.png" alt="No likes yet."></div>
        <h1 class="nly-splash__headline">Discover all the photos on Instagram with no likes yet.</h1>
        <div class="nly-splash__button"><a class="nly-button" ng-href="https://instagram.com/oauth/authorize/?client_id={{instagramApiData.clientId}}&amp;redirect_uri={{instagramApiData.redirectUri}}&amp;response_type=token&amp;scope={{instagramApiData.scope}}">login to start browsing</a></div>
    </div>
</div>
