<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- build:process -->
    <title><%= title %></title>
    <meta name="description" content="<%= description %>" />
    <meta name="viewport" content="<%= viewport %>" />
    <!-- /build -->

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!-- compile:style app -->
        <!-- build:style app --><!-- /build -->
    <!-- /compile -->
    <!-- compile:script modernizr -->
        <!-- build:script modernizr --><!-- /build -->
    <!-- /compile -->
</head>
<body ng-app="app">
    <header>
        <h1 class="logo">No Likes Yet.</h1>
        <ul class="main-nav">
            <li><a href="#">My Photos</a></li>
            <li><a href="#">My Friends Photos</a></li>
        </ul>
        <div class="about">?</div>
    </header>
    <div class="main" ng-controller="MainCtrl">
        <a ng-if="!hasAccessToken" ng-href="https://instagram.com/oauth/authorize/?client_id={{clientId}}&amp;redirect_uri={{redirectUri}}&amp;response_type=token&amp;scope=basic+likes">Log In</a>
        <ng-view></ng-view>
    </div>
    <!-- compile:script app -->
    <!-- build:script optional jquery --><!-- /build -->
    <!-- build:script optional angular --><!-- /build -->
    <!-- build:script optional components --><!-- /build -->
    <!-- build:script app --><!-- /build -->
    <!-- /compile -->
</body>
</html>
